<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plot</title>
</head>
<body>
    <h1>Plots</h1>

    <h2>Household Size vs Spend</h2>
    <img src="{{ plot_url_hh_size }}" alt="Plot Household Size vs Spend">

    <h2>Children vs Spend</h2>
    <img src="{{ plot_url_children }}" alt="Plot Children vs Spend">

    <h2>Income Range vs Spend</h2>
    <img src="{{ plot_url_income_range }}" alt="Plot Income Range vs Spend">
</body>
</html>
